* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color: #ffffff;
  text-align: center;
}

header img {
  max-width: 20%;
  max-height: 20%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 15px;
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 2px solid orangered;
  font-weight: 2rem;
}

.hero-banner {
  background: url("https://source.unsplash.com/collection/4539829/") no-repeat fixed center center/cover;
  height: 80vh;
}

.wrapper {
  position: absolute;
  text-align: justify;
  background-color: rgba(221, 131, 98, 0.75);
  width: 30%;
  top: 50%;
  left: 10%;
  color: #ffffff;
  padding: 20px;
}

.wrapper .cta {
  background-color: darkseagreen;
  padding: 10px;
  width: 30%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0;
  font-family: "Noto Sans KR", sans-serif;
}

.cta a {
  text-decoration: none;
  color: #ffffff;
}

.wrapper .cta:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.about-wrap {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-wrap h2 {
  text-transform: uppercase;
  padding: 1em;
  font-size: 2rem;
}

#about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2rem;
  margin: 50px 0;
  padding: 20px;
  align-items: center;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-wrap {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.survey {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.info input {
  border-radius: 5px;
  box-shadow: none;
  width: 200px;
  margin-left: 30px;
  padding: 5px;
  font-family: "Noto Sans KR", sans-serif;
}

.form-wrap label {
  font-size: 0.8rem;
}

.survey label {
  margin-left: 30px;
}

textarea {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 20px;
}

#submit {
  background-color: darkseagreen;
  color: #ffffff;
  padding: 10px;
  width: 20%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}

#submit:hover {
  background-color: darkgreen;
  cursor: pointer;
}

hr {
  margin: 10px 0;
}

#contact-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#contact-text p {
  line-height: 2rem;
  margin-top: 20px;
}