* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

header {
  background: #272626;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

h1 {
  font-size: 1.5rem;
  padding: 10px;
}

.dropbtn {
  background: #272626;
  color: #ffffff;
  border: none;
  font-size: 20px;
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272626;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  font-size: 20px;
}

.dropdown-content a {
  padding: 20px 25px;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(85, 151, 218);
}

.dropdown:hover .dropbtn {
  background-color: rgb(85, 151, 218);
}

#hero-banner {
  position: relative;
  height: 70vh;
  background-color: rgb(23, 44, 65);
}

#hero-banner::before {
  content: "";
  background: url("https://source.unsplash.com/staMgYWHM7s") no-repeat fixed center center/cover;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#banner-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #ffffff;
  margin-left: 20px;
}

#banner-wrapper p {
  margin: 20px 0;
}

#banner-wrapper button {
  background-color: rgb(85, 151, 218);
  padding: 16px;
  border-radius: 10%;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

#banner-wrapper a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  font-size: 1rem;
}

#banner-wrapper button:hover {
  background-color: rgb(44, 78, 112);
}

#about {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  flex-wrap: wrap;
}

#about img {
  max-width: 40%;
  object-fit: cover;
  border-radius: 5%;
  padding-left: 0 50px;
}

#about-content {
  padding: 0 50px;
}

#about-content ul {
  padding-left: 10%;
}

#skills {
  background-color: #e9dddd;
  line-height: 1.5rem;
  width: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#skills h2 {
  margin: 30px 0;
}

#skills p {
  padding: 10px;
}

#cards {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-card {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  line-height: 2rem;
  position: relative;
}

.fa-css3-alt, .fa-html5, .fa-figma {
  font-size: 5em;
  color: rgb(85, 151, 218);
}

.fa-js {
  position: absolute;
  font-size: 7em;
  z-index: 1;
  top: -40px;
  color: rgb(85, 151, 218);
}

.js h3 {
  margin-top: 120px;
}

.skill-name {
  margin-left: 10px;
}

progress {
  display: block;
  padding: 4px;
  border: 0 none;
  background: rgb(105, 99, 99);
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(100, 96, 96, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: inset 0 -2px 4px rgba(182, 174, 174, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

progress[value]::-webkit-progress-value {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: inset 0 -2px 4px rgba(182, 174, 174, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #272626;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  line-height: 2rem;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding: 30px;
}

form {
  flex: 1;
  min-width: 300px;
}

.footer-content {
  flex: 1;
  min-width: 200px;
  margin: 0 30px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.form-group {
  margin: 20px 0;
  flex: 2;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.form-group label:hover {
  cursor: pointer;
}

.form-group input {
  border-radius: 10px;
  box-shadow: none;
  padding: 10px;
  width: 75%;
}

#message {
  height: 100px;
  font-family: "Roboto", sans-serif;
}

.form-wrap button {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  box-shadow: none;
  background-color: rgb(85, 151, 218);
  color: #ffffff;
}

.form-wrap button:hover {
  background-color: rgb(44, 78, 112);
  cursor: pointer;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: rgb(85, 151, 218);
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: rgb(44, 78, 112);
}

@media screen and (max-width: 659px) {
  .footer-content {
    margin: 30px;
  }
  .form-wrap {
    margin-left: 30px;
  }
  .form-group input {
    width: 100%;
  }
  #about img {
    max-width: 80%;
  }
  #about {
    justify-content: center;
  }
}