* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  position: relative;
}

.logo {
  display: grid;
  margin: 10px;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas: "logo link";
}

.logo h1 {
  color: #002ea1;
  font-weight: 700;
  grid-area: logo;
}

.logo a {
  text-decoration: none;
  color: #002ea1;
  padding: 0;
  grid-area: link;
  text-align: right;
}

.logo a:hover {
  color: #002ea1;
  text-decoration: underline;
}

nav {
  background-color: #002ea1;
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas: "nav search";
}

nav ul {
  grid-area: nav;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px;
}

nav ul li a:hover {
  border-bottom: 2px solid #ffffff;
}

nav i {
  font-size: 20px;
  color: #ffffff;
  background-color: none;
}

.search-bar {
  grid-area: search;
  text-align: right;
}

nav i:hover {
  cursor: pointer;
}

#subnav {
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 208px;
  list-style-type: none;
  z-index: 1;
  margin-top: 20px;
  visibility: hidden;
}

#subnav li {
  display: block;
}

#subnav a {
  color: #002ea1;
  text-decoration: none;
  font-family: "Roboto";
  text-transform: capitalize;
  text-align: left;
  display: block;
}

#region:hover #subnav {
  visibility: visible;
}

#subnav li:hover {
  background-color: #ffffffab;
}

.toggle-search {
  background-color: #ffffff;
  position: absolute;
  left: 70%;
  display: none;
  padding: 5px;
}

.toggle-search input[type="text"] {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #002ea1;
  outline: none;
}

.toggle-search button {
  background-color: #002ea1;
  padding: 5px;
  width: 40px;
  color: #ffffff;
  cursor: pointer;
}

.hero-banner {
  background-color: #002ea1;
  height: 80vh;
  position: relative;
  z-index: -1;
}

.hero-banner::before {
  content: "";
  background: url("https://source.unsplash.com/vdXMSiX-n6M") no-repeat fixed
    center center/cover;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.banner-content {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 30%;
  left: 25%;
  line-height: 2.5rem;
  flex-wrap: wrap;
}

.banner-content h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 24px;
}

#categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 60px repeat(3, 1fr);
  grid-gap: 30px;
  margin: 60px;
}

#categories h2 {
  grid-column: 1 / span 4;
  color: #002ea1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
}

#categories p {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  font-size: 24px;
}

.category {
  display: grid;
  padding: 20px;
  width: 100%;
  height: 200px;
  box-shadow: inset 0 0 0 2000px rgba(0, 17, 62, 0.2);
  transition: all 0.3s;
  text-decoration: none;
  background-color: #002ea1;
  background-size: cover;
  background-position: center center;
}

.category-name {
  color: #ffffff;
  font-size: 28px;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  align-self: end;
}

.aca {
  background-image: url("https://source.unsplash.com/Oalh2MojUuk");
}

.engi {
  background-image: url("https://source.unsplash.com/yFnX8DaC3UM");
}

.health {
  background-image: url("https://source.unsplash.com/6aomTW8ojbo");
}

.hospi {
  background-image: url("https://source.unsplash.com/JHxGT0lA_GA");
}

.ict {
  background-image: url("https://source.unsplash.com/n_4iTY1KmDE");
}

.manu {
  background-image: url("https://source.unsplash.com/9Q_pLLP_jmA");
}

.ms {
  background-image: url("https://source.unsplash.com/jpHw8ndwJ_Q");
}

.pm {
  background-image: url("https://source.unsplash.com/yTwXpLO5HAA");
}

.service {
  background-image: url("https://source.unsplash.com/WEDDt-u3q3o");
}

.category:hover {
  opacity: 0.9;
}

#region-explore {
  margin: 60px;
}

.region-intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px repeat(3, 40px);
  grid-gap: 15px;
  margin-bottom: 30px;
}

#region-explore h2 {
  grid-column: 1 / span 4;
  color: #002ea1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
}

#region-explore #content-one {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  font-size: 24px;
}

#region-explore #content-two {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  font-size: 24px;
}
#region-explore button {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  color: #ffffff;
  border-color: #000c80;
  background-color: #002ea1;
  padding: 12px 16px 10px;
}

.area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.region {
  display: grid;
  padding: 20px;
  width: 100%;
  height: 200px;
  box-shadow: inset 0 0 0 2000px rgba(0, 17, 62, 0.2);
  transition: all 0.3s;
  text-decoration: none;
  background-color: #002ea1;
  background-size: cover;
  background-position: center center;
}

.region-name {
  color: #ffffff;
  font-size: 28px;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  align-self: end;
}

.region:hover {
  opacity: 0.9;
}

.tu {
  background-image: url("https://source.unsplash.com/Vk8MqyygNak");
}

.la {
  background-image: url("https://source.unsplash.com/MRX-unYU1dc");
}

.lake {
  background-image: url("https://source.unsplash.com/bQIc6k6HFiI");
}

.hel {
  background-image: url("https://source.unsplash.com/bpDJvls-h-0");
}

.espoo {
  background-image: url("https://source.unsplash.com/iBjO3rbIHtg");
}

.tam {
  background-image: url("https://source.unsplash.com/JHB9gy2IOKU");
}

.oulu {
  background-image: url("https://source.unsplash.com/SfOHL8UVDxk");
}

.taco {
  background-image: url("https://source.unsplash.com/J88r35Ac2ak");
}

.kuo {
  background-image: url("https://source.unsplash.com/UnaRNfHrUo4");
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #002ea1;
  color: #ffffff;
  padding: 50px 30px;
  line-height: 2.5rem;
  grid-gap: 50px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer h2 {
  text-transform: uppercase;
  font-size: 20px;
}

footer h3 {
  font-size: 18px;
}

.footer-logo {
  justify-self: left;
}

.terms-wrap {
  justify-self: center;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: rgb(85, 151, 218);
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: rgb(44, 78, 112);
}
